@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face{
    font-family:'apipicon';	/*自定义字体名字*/
    src: url('../fonts/apip-icon-font.eot');	/*IE9.0+*/
    src: url('../fonts/apip-icon-font?#iefix') format('embedded-opentype'),/*IE6-8*/
    url('../fonts/apip-icon-font.woff2') format('woff2'),/*???*/
    url('../fonts/apip-icon-font.woff?') format('woff'),/*大多数*/
    url('../fonts/apip-icon-font.ttf') format('truetype'), /*Safari, Android, iOS*/
    url('../fonts/apip-icon-font.svg') format('svg'); /*少数浏览器*/
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

/*本地化字体*/
@font-face{
	font-family:'Noto Sans SC';	/*思源黑*/
	src: url('../fonts/noto-sans.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
  }

@font-face{
  font-family:'Noto Serif SC';	/*思源宋*/
  src: url('../fonts/noto-serif.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*lazyload*/
img[data-unveil="true"] {
    opacity: 0;
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}

span.func-after,
span.func-before {
                    font-family: monospace, monospace;
                    line-height: inherit;
                }
span.func-before {
                    margin: 0 10px 0 0;
                }
span.func-after {
                    margin: 0 0 0 10px;
                }
span.suffix {
            text-align: center;
            font-size: 10px;
        }

.album-photo img:last-child {
    margin-right:0;
}

/*tagcloud page*/
ul.tagcloud {
  display: table;
}

ul.tagcloud li {
  margin: 3px;
  background-color: #e7e7e7e7;
  height: 4.48em;
  list-style-type: none;
  display: grid;
  white-space: nowrap;
  float: left;
  line-height: 4.4em;
}

ul.tagcloud a {
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin:auto;
}

ul.tagcloud a:hover,
ul.tagcloud a:focus,
ul.tagcloud a:active{
    box-shadow:none;
}

a.tagged1 {
    font-size: 1.00em;
    font-weight: 300;
    padding-left: 0.5em;
    padding-right: 0.5em;
    }

a.tagged2 {
    font-size: 1.20em;
    font-weight: 400;
    padding-left: 0.7em;
    padding-right: 0.7em;
    }

a.tagged3 {
    font-size: 1.50em;
    font-weight: 400;
    padding-left: 0.85em;
    padding-right: 0.85em;
}

a.tagged4 {
    font-size: 1.80em;
    font-weight: 500;
    padding-left: 1.0em;
    padding-right: 1.0em;
    }

a.tagged5 {
    font-size: 2.50em;
    font-weight: 700;
    padding-left: 1.35em;
    padding-right: 1.35em;
    }

a.tagged6 {
    font-size: 3.10em;
    font-weight: 900;
    padding-left: 1.65em;
    padding-right: 1.65em;
    }

/* link page */
.apip-links {
    display:inline-block;
}

.apip-links > li {
    display: inline;
    float: left;
    margin-bottom: 1em;
    text-align: center;
    width: 128px;
}

.commenter-link.vcard {
    padding: 5px 5px 0;
}

.commenter-link img {
    border-radius: 100%;
}

/*share bar*/    
#sharebar{
    clear:both;
    background: none repeat scroll 0 0 #EEFAF6;
    line-height: 2em ;
}

#sharebar span{
    padding: 0 15px;
    margin:4px 0 ;
    color: #5a5a5a;
}

#sharebar a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline;
    font-size: 1.3em;
    line-height: inherit;
    margin: 0;
    opacity: 0.8;
    padding-right: 13px;
    position: relative;
    text-decoration: none;
    top: 2px;
    vertical-align: inherit;
    cursor:pointer;
}

#sharebar a:before {
    font-family: 'FontAwesome' ;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
}

.sharebar-twitter:before{
    content: "\f099" ;
}
.sharebar-weibo:before {
  content: "\f18a";
}
.sharebar-facebook:before {
  content: "\f230";
}

/*pretty print*/
pre.prettyprint {
    display: block;
    background-color: #333;
    text-shadow: none;
    }
pre .nocode {
    background-color:none;
    color: #000;
    }
pre .str {
    color: #ffa0a0;
    }
pre .kwd {
    color: #f0e68c;
    font-weight: 700;
    }
pre .com {
    color: #87ceeb;
    }
pre .typ {
    color: #98fb98;
    }
pre .lit {
    color: #cd5c5c;
    }
pre .pun {
    color: #fff;
    }
pre .pln {
    color: #fff;
    }
pre .tag {
    color: #f0e68c;
    font-weight: 700;
    }
pre .atn {
    color: #bdb76b;
    font-weight: 700;
    }
pre .atv {
    color: #ffa0a0;
    }
pre.dec {
    color: #98fb98;
    }
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #AEAEAE;
    }
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
    list-style-type: none;
    }

/*quiz*/    
.apipcommentquiz,
.apipcommentquiz + * {
  overflow: hidden;
  transition: .5s;
  height: 0;
}
.apipcommentquiz { height: auto }
.apipcommentquiz p{
    font-size:12px;
    font-style: italic;
}
.apipcommentquiz label {
  cursor: pointer;
  display: inline-block;
  margin: 0 7px 6px 0;
  border-radius: 5px;
  padding: 10px 15px;
  transition: .2s;
}
.apipcommentquiz label:hover {
  background: #ccc;
}
.apipcommentquiz h2 {
    color:#999;
}
.apipcommentquiz h3 {
  color: red;
  font: inherit;
  animation: apipcommentquiz forward;
}
@keyframes apipcommentquiz{
  from{transform:scale(0)}
} 

/*archive page*/
.apip-no-disp {
    display: none !important;

}
.achp-expanded {
    font-weight:800;
}
li.achp-child {
    position: relative;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    max-height: 1.25em;
}
a.achp-sig {
    box-shadow: none !important;
}
span.achp-symbol {
    font-family: monospace, monospace;
    font-weight: 800;
    line-height: inherit;
    margin: 0 10px 0;
}

.content-sup{
  padding-right: 0.25em;
  transition: all 1.5s;
}

.ref-visited{
  color:#b2b7b3;
  transition: all 1.5s;
}