/*link*/

.apip-links {
    display:inline-block;
}

.apip-links > li {
    display: inline;
    float: left;
    line-height: 80px;
    text-align: center;
    width: 128px;
}

.commenter-link.vcard {
    padding: 5px 5px 0;
}
.url::after {
    color: #fb9292;
    content: "\f0c1";
    font-family: Fontawesome;
    font-size: 12px;
    left: -2px;
    margin: -5px 0 0 1px;
    position: relative;
    top: -7px;
}

.commenter-link img {
    border: 2px solid #fb9292;
    border-radius: 100%;
}