/*tagcloud*/
ul.tagcloud, ul.tagcloud li
{
	font-size: 1em;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.tagcloud li
{
	display: inline;
	line-height: 2.8em;
}

ul.tagcloud a
{
	text-decoration: none;
	margin: 5px;
	border-radius: 3px;
}

ul.tagcloud a:hover
{
	color:#BF52A9;
	border-radius: 3px;
}

a.tagged1 { 
	font-size: 1.00em; 
	color: #AF7E62;
	font-weight: 300;
	padding: 6px 11px;
	background: rgba(240,121,142,0.6);
	}
a.tagged2 { 
	font-size: 1.20em;
	color: #B25E2A;
	font-weight: 400;
	padding: 9px 14px;
	background: rgba(129,240,127,0.6);
	}
a.tagged3 { 
	font-size: 1.50em; 
	color:#995124;
	font-weight: 400;
	padding: 12px 17px;
	background: rgba(48,120,240,0.6);
}
a.tagged4 { 
	font-size: 1.80em; 
	color:#663718;
	font-weight: 500;
	padding: 15px 20px;
	background: rgba(231,170,240,0.6);
	}
a.tagged5 {
	font-size: 2.20em; 
	color:#331C0C;
	font-weight: 700;
	padding: 18px 23px;
	background: rgba(240,76,73,0.6);
	}  
	