@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face{
    font-family:'apipicon';	/*自定义字体名字*/
    src: url('../fonts/apip-icon-font.eot');	/*IE9.0+*/
    src: url('../fonts/apip-icon-font?#iefix') format('embedded-opentype'),/*IE6-8*/
    url('../fonts/apip-icon-font.woff2') format('woff2'),/*???*/
    url('../fonts/apip-icon-font.woff?') format('woff'),/*大多数*/
    url('../fonts/apip-icon-font.ttf') format('truetype'), /*Safari, Android, iOS*/
    url('../fonts/apip-icon-font.svg') format('svg'); /*少数浏览器*/
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

/*lazyload*/
img[data-unveil="true"] {
    opacity: 0;
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}

span.func-after,
span.func-before {
                    font-family: monospace, monospace;
                    line-height: inherit;
                }
span.func-before {
                    margin: 0 10px 0 0;
                }
span.func-after {
                    margin: 0 0 0 10px;
                }
span.suffix {
            text-align: center;
            font-size: 10px;
        }

.album-photo img:last-child {
    margin-right:0;
}

/*tagcloud page*/
ul.tagcloud {
  display: table;
}

ul.tagcloud li {
  margin: 3px;
  background-color: #e7e7e7e7;
  height: 4.48em;
  list-style-type: none;
  display: grid;
  white-space: nowrap;
  float: left;
  line-height: 4.4em;
}

ul.tagcloud a {
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin:auto;
}

ul.tagcloud a:hover,
ul.tagcloud a:focus,
ul.tagcloud a:active{
    box-shadow:none;
}

a.tagged1 {
    font-size: 1.00em;
    font-weight: 300;
    padding-left: 0.5em;
    padding-right: 0.5em;
    }

a.tagged2 {
    font-size: 1.20em;
    font-weight: 400;
    padding-left: 0.7em;
    padding-right: 0.7em;
    }

a.tagged3 {
    font-size: 1.50em;
    font-weight: 400;
    padding-left: 0.85em;
    padding-right: 0.85em;
}

a.tagged4 {
    font-size: 1.80em;
    font-weight: 500;
    padding-left: 1.0em;
    padding-right: 1.0em;
    }

a.tagged5 {
    font-size: 2.50em;
    font-weight: 700;
    padding-left: 1.35em;
    padding-right: 1.35em;
    }

a.tagged6 {
    font-size: 3.10em;
    font-weight: 900;
    padding-left: 1.65em;
    padding-right: 1.65em;
    }

/* link page */
.apip-links {
    display:inline-block;
}

.apip-links > li {
    display: inline;
    float: left;
    margin-bottom: 1em;
    text-align: center;
    width: 128px;
}

.commenter-link.vcard {
    padding: 5px 5px 0;
}

.commenter-link img {
    border-radius: 100%;
}

/*share bar*/    
#sharebar{
    clear:both;
    background: none repeat scroll 0 0 #EEFAF6;
    line-height: 2em ;
}

#sharebar span{
    padding: 0 15px;
    margin:4px 0 ;
    color: #5a5a5a;
}

#sharebar a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline;
    font-size: 1.3em;
    line-height: inherit;
    margin: 0;
    opacity: 0.8;
    padding-right: 13px;
    position: relative;
    text-decoration: none;
    top: 2px;
    vertical-align: inherit;
    cursor:pointer;
}

#sharebar a:before {
    font-family: 'FontAwesome' ;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
}

.sharebar-twitter:before{
    content: "\f099" ;
}
.sharebar-weibo:before {
  content: "\f18a";
}
.sharebar-facebook:before {
  content: "\f230";
}

/*pretty print*/
pre .str { color: #fec243; } /* string  - eggyolk gold */
pre .kwd { color: #8470FF; } /* keyword - light slate blue */
pre .com { color: #32cd32; font-style: italic; } /* comment - green */
pre .typ { color: #6ecbcc; } /* type - turq green */
pre .lit { color: #d06; } /* literal - cherry red */
pre .pun { color: #8B8970;  } /* punctuation - lemon chiffon4  */
pre .pln { color: #f0f0f0; } /* plaintext - white */
pre .tag { color: #9c9cff; } /* html/xml tag  (bluey)  */
pre .htm { color: #dda0dd; } /* html tag  light purply*/
pre .xsl { color: #d0a0d0; } /* xslt tag  light purply*/
pre .atn { color: #46eeee; font-weight: normal;} /* html/xml attribute name  - lt turquoise */
pre .atv { color: #EEB4B4; } /* html/xml attribute value - rosy brown2 */
pre .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint {
  font-family: Consolas, Arial, monospace, "Courier New";
  font-size: 0.9375rem;
  color:#E0E0E0;
  background-color: #0f0f0f;
  border-radius: 8px;
  border: 1px solid #888; 
  text-shadow: none;
  width: 95%;
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
}

pre.prettyprint a {
   text-decoration:none;
}

code.prettyprint { 
    font-family: Consolas, Arial, monospace, "Courier New";
    padding: 0.5em 1em; 
    border: 1px solid #888; 
    text-shadow: none; 
    border-radius: 8px;
    width: 95%;
    margin: 1em auto; 
}
code .str { color: #639B5C }  /* string content */
code .lit { color: #639B5C }  /* a literal value */
code .kwd { color: #D06353 }  /* a keyword */
code .com { color: #9D9EA3 }  /* a comment */
code .typ { color: #B6852E }  /* a type name */
code .pun { color: #487CE0 }
code .opn { color: #487CE0 }
code .clo { color: #487CE0 }
code .tag { color: #000 }  /* a markup tag name */
code .atn { color: #000 }  /* a markup attribute name */
code .atv { color: #487CE0 }  /* a markup attribute value */
code .dec { color: #B6852E }  /* a declaration; a variable name */
code .var { color: #B6852E }  /* a declaration; a variable name */
code .fun { color: #D06353 }  /* a function name */

/*quiz*/    
.apipcommentquiz,
.apipcommentquiz + * {
  overflow: hidden;
  transition: .5s;
  height: 0;
}
.apipcommentquiz { height: auto }
.apipcommentquiz p{
    font-size:12px;
    font-style: italic;
}
.apipcommentquiz label {
  cursor: pointer;
  display: inline-block;
  margin: 0 7px 6px 0;
  border-radius: 5px;
  padding: 10px 15px;
  transition: .2s;
}
.apipcommentquiz label:hover {
  background: #ccc;
}
.apipcommentquiz h2 {
    color:#999;
}
.apipcommentquiz h3 {
  color: red;
  font: inherit;
  animation: apipcommentquiz forward;
}
@keyframes apipcommentquiz{
  from{transform:scale(0)}
} 

/*archive page*/
.apip-no-disp {
    display: none !important;

}
.achp-expanded {
    font-weight:800;
}
li.achp-child {
    position: relative;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    max-height: 1.25em;
}
a.achp-sig {
    box-shadow: none !important;
}
span.achp-symbol {
    font-family: monospace, monospace;
    font-weight: 800;
    line-height: inherit;
    margin: 0 10px 0;
}

.content-sup{
  padding-right: 0.25em;
  transition: all 1.5s;
}

.ref-visited{
  color:#b2b7b3;
  transition: all 1.5s;
}

/* leaflet related css*/
.leaflet-popup-content b {
  display: block;
}

.leaflet-popup-content p {
  display: block;
}

.leaflet-popup-content i {
  font-style:normal;
  display: block;
}