span.func-after,
span.func-before {
                    font-family: monospace, monospace;
                    line-height: inherit;
                }
span.func-before {
                    margin: 0 10px 0 0;
                }
span.func-after {
                    margin: 0 0 0 10px;
                }
span.suffix {
            text-align: center;
            font-size: 10px;
        }

.album-photo img:last-child {
    margin-right:0;
}
.apip-item {
    margin:25px auto;
    max-width: 800px;
    text-align: left;
}
.doulist-subject {
    line-height:1.5;
    overflow:hidden;
    padding:13px;
    background-color: #f1f8ff;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.doulist-subject .apiplist-post {
    float:left;
    margin-right:20px;
}

.doulist-subject .apiplist-score {
    margin-right:20px;
    font-size:60px;
    max-width: 125px;
    box-shadow:0 5px 15px -22px #FF783A;
    position: absolute;
    right:0;
    line-height:1;
}

.apip-score-10 {
    color:#FF6868;
}

.apip-score-9,
.apip-score-8 {
    color:#FF9068;
}

.apip-score-7,
.apip-score-6,
.apip-score-5 {
    color:#68FF84;
}

.apip-score-4,
.apip-score-3,
.apip-score-2 {
    color:#68D4FF;
}

.apip-score-1,
.apip-score-0 {
    color:#C6C6C6;
}

.title a {
    text-decoration:none!important;
}
.doulist-subject .title {
    margin-bottom:6px;
}
.doulist-subject .rating {
    margin:6px 0 4px 120px;
    font-size:12px;
}
.doulist-subject .abstract {
    margin-left:120px;
    font-size:12px;
}
.apip-item .mod {
    background-color: #6ca0dc;
    color:inherit;
    padding: 0 0 0 5px;
    position:relative;
    word-wrap:break-word;
}
.album-photo img {
    margin-right: 2%;
    max-width: 23.5%;
}

.apipcommentquiz h2 {
    color:#999;
}
